@import 'bootstrap';
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.custom-dropdown-menu {
     left: -3% !important;
}

.table-scroll-xy {
    overflow: scroll; /* Abilita sia la barra di scorrimento orizzontale che quella verticale */
    max-width: 100%; /* Assicura che la tabella sia larga quanto il dispositivo */
    max-height: 55vh; /* Imposta l'altezza massima desiderata */
    margin-top: 20px; /* Regola il margine superiore secondo le tue esigenze */
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: white; /* Puoi impostare il colore di sfondo desiderato */
    z-index: 1; /* Assicurati che le colonne fisse siano sopra le altre */
}
.sticky-cell {
    position: sticky;
    left: 0;
    background-color: red; /* Puoi impostare il colore di sfondo desiderato */
    z-index: 1; /* Assicurati che le celle fisse siano sopra le altre */
}